<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
</head>
<body>
<div id="header-wrapper">
	{{ partial "header.html" . }}
</div>
<div id="wrapper">
	{{ if .Site.Params.about.enable }}
	{{ partial "about.html" . }}
	{{ end }}
	
  {{ if .Site.Params.timeline.enable }}
	{{ partial "timeline.html" . }}
	{{ end }}
	
  {{ if .Site.Params.workshops.enable }}
	{{ partial "workshops.html" . }}
	{{ end }}
	
  {{ if .Site.Params.register.enable }}
	{{ partial "register.html" . }}
	{{ end }}
  
  {{ if .Site.Params.faq.enable }}
	{{ partial "faq.html" . }}
	{{ end }}
  
  {{ if .Site.Params.organizers.enable }}
	{{ partial "organizers.html" . }}
	{{ end }}
	
  {{ if .Site.Params.contact.enable }}
  {{ partial "contact.html" . }}
	{{ end }}
</div>

	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" .}}
	{{ end }}
</body>
<script>

const btnHandler = (element, duration) => {
    $(`#${element}Btn`).click(function() {
        $('html, body').animate({
          scrollTop: $(`#${element}`).offset().top - $('#header-wrapper').height()
        }, duration)
    })
};

$(document).ready(() => {
    btnHandler("about",     1000);
    btnHandler("timeline",  1000);
    btnHandler("workshops", 2000);
    btnHandler("register",  2000);
    btnHandler("faq",       2500);
    btnHandler("contact",   3000);
});

</script>
</html>

