	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #181818;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: #FFF;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #ee0000;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		color: #ffffff;
		padding: 0px 100px;
  }

  .container > p, .container > ul, .container > .title, .container > h3, .container > .row
  {
		overflow: hidden;
    max-width: 900px;
		margin: 0em auto;
  }

	.container .button
	{
		background: #FFCA2B;
		color: #0048CD;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}
	
	ul.actions
	{
	}
	
	ul.actions li
	{
		display: inline-block;
		padding: 0em 0.50em;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		background: #2651a8;
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}
	
	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: #FFF;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 500px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 0em 0em 0em 0em;
		background: #181818;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(../images/header-bg.jpg) no-repeat center;
		background-size: cover;
	}

	#header
	{
		position: relative;
		padding: 5em 0em;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: rgba(255,255,255,0.80);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .active a
	{
		background: #2651a8;
		border-radius: 6px;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 10em;
		text-align: center;
	}
	
	#banner .title h2
	{
		font-size: 4em;
	}
	
	#banner .title .byline
	{
		font-size: 2em;
	}
	
	#banner .button
	{
		margin-top: 2em;
		padding: 1.40em 3em;
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;
		
	}
	
	.banner
	{
		margin-bottom: 5em;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}

/*********************************************************************************/
/* About                                                                       */
/*********************************************************************************/

	#about
	{
		position: relative;
		padding: 7em 5em 7em 5em;
		background: #0795FD;
		background-size: cover;
		text-align: center;
	}

/*********************************************************************************/
/* Timeline                                                                      */
/*********************************************************************************/

	#timeline
	{
		position: relative;
		padding: 7em 5em 7em 5em;
		background: #0048CD;
		background-size: cover;
		text-align: center;
	}
  
  #timeline .title .byline
  {
		color: rgba(255,255,255,0.60);
  }
	
/*********************************************************************************/
/* Workshops                                                                     */
/*********************************************************************************/

	#workshops
	{
		position: relative;
		padding: 7em 5em 7em 5em;
		background: #0795FD;
		background-size: cover;
		text-align: center;
	}

  #workshops .title .byline
  {
		color: rgba(255,255,255,0.60);
  }
	
/*********************************************************************************/
/* Register                                                                       */
/*********************************************************************************/

	#register
	{
		position: relative;
		padding: 7em 5em 7em 5em;
		background: #0048CD;
		background-size: cover;
		text-align: center;
	}
  
  #register .title .byline
  {
		color: rgba(255,255,255,0.60);
  }

  #register > ul
  {
    padding: 1em 0em 0em 0em;
  }
	
/*********************************************************************************/
/* faq                                                                           */
/*********************************************************************************/

	#faq
	{
		position: relative;
		padding: 7em 5em 7em 5em;
		background: #0795FD;
		background-size: cover;
		text-align: center;
	}

  #faq > .row > .column > h3, #faq > .row > .column > p
  {
    margin: 0.5em 0.5em;
    text-align: left;
  }

/*********************************************************************************/
/* Organizers                                                                    */
/*********************************************************************************/

	#organizers
	{
		position: relative;
		padding: 7em 5em 7em 5em;
		background: #0048CD;
		background-size: cover;
		text-align: center;
	}

/*********************************************************************************/
/* Contact                                                                       */
/*********************************************************************************/

	#contact
	{
		position: relative;
		padding: 7em 5em 7em 5em;
		background: #0795FD;
		background-size: cover;
		text-align: center;
	}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

  .row {
    display: flex;
    flex-wrap: wrap;
		padding: 1em 0em;
  }

  /* Clear floats after the columns */
  .column {
    flex: 50%;
  }
