  <div id="about" class="container">

    {{ with .Site.Params.about }}

    <img id="about-nodes" src="/images/nodes.png" />

    <!-- left side -->
    <div id="about-logo">
      <img src="/images/header-bg.png" />
    </div>




    <!-- right side -->
    <div id="about-info">
      <div class="title">
        <h2 class="header">Lifehack 2020 Datathon</h2>
        <span class="byline">{{ .subtitle }}</span>
      </div>
      <p class="description">{{ .description | markdownify }}</p>
      <ul class="actions">
        <li><a href="#" class="button">{{ .button_text }}</a></li>
      </ul>

    </div>


    {{end}}
  </div>
