<div id="judges" class="container">
    {{ with .Site.Params.judges }}
      <div class="title">
        <h2>{{ .title }}</h2>
        <span class="byline">{{ .subtitle }}</span>
      </div>
      <div class="row">
        {{ range .item }}
        <div class="column">
          <div class="card">
            <img src="{{ .thumbnail }}"></img>
            <h3>{{ .name | markdownify }}</h3>
            <h4>{{ .affiliation | markdownify }}</h4>
            <p>{{ .timing | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    {{ end }}
    </div>
</div>
