  <div id="organizers" class="container">
    {{ with .Site.Params.organizers }}
    <div class="title">
      <h2>{{ .title }}</h2>
      <span class="byline">{{ .subtitle }}</span>
    </div>
    <h3>Organized by</h3>
    <div id="organizers-list">
      <img src="/images/holmusk.png" />
      <img src="/images/soc.png" />
      <img src="/images/comp_club.png" />
    </div>

    <h3>Sponsored by</h3>
    <div id="sponsors-list">
      <img src="/images/holmusk.png" />
      <img src="/images/shopee.png" />
    </div>
    {{end}}
  </div>

