  <div id="register" class="container">
    {{ with .Site.Params.register }}
    <div class="title">
      <h2>{{ .title }}</h2>
      <span class="byline">{{ .subtitle }}</span>
    </div>
    <div class="details-wrapper">
      <ul id="register-instructions">
        <li>• Only teams of 2 are allowed</li>
        <li>• Open to all nationalities</li>
        <li>• Open to all Institutes of Higher Learning (IHLs) and to all majors</li>
        <li>• First 50 teams to sign up will receive a $10 Grab Voucher*</li>
        <li class="toc">*subject to entry submission by teams</li>
      </ul>
      <ul id="register-actions" class="actions">
        <li><a href="#" class="button">{{ .button_text }}</a></li>
      </ul>
    </div>
    {{end}}
  </div>

