  <div id="register" class="container">
    {{ with .Site.Params.register }}
    <div class="title">
      <h2>{{ .title }}</h2>
      <span class="byline">{{ .subtitle }}</span>
    </div>
    <div class="details-wrapper">
      <ul>
        <li>- Form teams of 2-4</li>
        <li>- Open to all nationalities</li>
        <li>- Open to all Institutes of Higher Learning (IHLs) and to all majors.</li>
      </ul>
    </div>
    <ul class="actions">
      <li><a href="#" class="button">{{ .button_text }}</a></li>
    </ul>
    {{end}}
  </div>

