  <div id="timeline" class="container">
    {{ with .Site.Params.timeline }}
    <div class="title">
      <h2>{{ .title }}</h2>
      <span class="byline">{{ .subtitle }}</span>
    </div>
    <div class="countdown">
        <div class="bloc-time days" data-init-value="0">
          <span class="count-title">Days</span>

            <div class="figure days days-1">
            <span class="top">-</span>
            <span class="top-back">
              <span>-</span>
            </span>
            <span class="bottom">-</span>
            <span class="bottom-back">
              <span>-</span>
            </span>
          </div>

          <div class="figure days days-2">
            <span class="top">-</span>
            <span class="top-back">
              <span>-</span>
            </span>
            <span class="bottom">-</span>
            <span class="bottom-back">
              <span>-</span>
            </span>
          </div>
        </div>

        <div class="bloc-time hours" data-init-value="0">
          <span class="count-title">Hours</span>

          <div class="figure hours hours-1">
            <span class="top">-</span>
            <span class="top-back">
              <span>-</span>
            </span>
            <span class="bottom">-</span>
            <span class="bottom-back">
              <span>-</span>
            </span>
          </div>

          <div class="figure hours hours-2">
            <span class="top">-</span>
            <span class="top-back">
              <span>-</span>
            </span>
            <span class="bottom">-</span>
            <span class="bottom-back">
              <span>-</span>
            </span>
          </div>
        </div>

        <div class="bloc-time min" data-init-value="0">
          <span class="count-title">Minutes</span>

          <div class="figure min min-1">
            <span class="top">-</span>
            <span class="top-back">
              <span>-</span>
            </span>
            <span class="bottom">-</span>
            <span class="bottom-back">
              <span>-</span>
            </span>
          </div>

          <div class="figure min min-2">
           <span class="top">-</span>
            <span class="top-back">
              <span>-</span>
            </span>
            <span class="bottom">-</span>
            <span class="bottom-back">
              <span>-</span>
            </span>
          </div>
        </div>

        <div class="bloc-time sec" data-init-value="0">
          <span class="count-title">Seconds</span>

          <div class="figure sec sec-1">
            <span class="top">-</span>
            <span class="top-back">
              <span>-</span>
            </span>
            <span class="bottom">-</span>
            <span class="bottom-back">
              <span>-</span>
            </span>
          </div>

          <div class="figure sec sec-2">
           <span class="top">-</span>
            <span class="top-back">
              <span>-</span>
            </span>
            <span class="bottom">-</span>
            <span class="bottom-back">
              <span>-</span>
            </span>
          </div>
        </div>

      </div>

      <h4>TO: END OF REGISTRATION</h4>

    <div class="timeline">
      <div class="timeline-container left">
        <div class="content">
          <h2>Registration</h2>
          <p>4 July - 22 July</p>
        </div>
      </div>
      <div class="timeline-container right">
        <div class="content">
          <h2>Workshops</h2>
          <p>13 July onwards</p>
        </div>
      </div>
      <div class="timeline-container left">
        <div class="content">
          <h2>Welcome Address & Panel Discussion</h2>
          <p>22 July, 9am - 12pm</p>
        </div>
      </div>
      <div class="timeline-container right">
        <div class="content">
          <h2>Release of Problem Statement</h2>
          <p>22 July, 12pm</p>
        </div>
      </div>
      <div class="timeline-container left">
        <div class="content">
          <h2>Submission of Work</h2>
          <p>28 July, 12pm</p>
        </div>
      </div>
      <div class="timeline-container right">
        <div class="content">
          <h2>Announcement of Finalists (Top 10 Teams)</h2>
          <p>28 July, 5pm</p>
        </div>
      </div>
      <div class="timeline-container left">
        <div class="content">
          <h2>Final Round & Prize Presentation</h2>
          <p>30 July, 11am</p>
          <p class="details">Final judging for top 10 teams</p>
          <p class="details">Network with companies (open to all)</p>
        </div>
      </div>
    </div>

    <p>{{ .description | markdownify }}</p>
    {{end}}
  </div>

  <script src="scripts/timeline.js"></script>
