<div id="workshops" class="container">
    {{ with .Site.Params.workshops }}
      <div class="title">
        <h2>{{ .title }}</h2>
        <span class="byline">{{ .subtitle }}</span>
      </div>

      <!--
      <div id="workshops-list">
        <img src="/images/ihis_alt.png" />
        <img src="/images/smartcademy.png" />
        <img src="/images/holmusk.png" />
      </div>
      -->

      <div class="row">
        {{ range .item1 }}
        <div class="column">
          <div class="card">
            <h3>{{ .title | markdownify }}</h3>
            <ul>
              <li><b>{{ .company | markdownify }}</b></li>
              <li><b>{{ .date | markdownify }}</b></li>
              <li><b>{{ .time | markdownify }}</b></li>
            </ul>
            <p>{{ .description | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="row">
        {{ range .item2 }}
        <div class="column">
          <div class="card">
            <h3>{{ .title | markdownify }}</h3>
            <ul>
              <li><b>{{ .company | markdownify }}</b></li>
              <li><b>{{ .date | markdownify }}</b></li>
              <li><b>{{ .time | markdownify }}</b></li>
            </ul>
            <p>{{ .description | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    {{ end }}
    </div>
</div>
