<div id="workshops" class="container">
    {{ with .Site.Params.workshops }}
      <div class="title">
        <h2>{{ .title }}</h2>
        <span class="byline">{{ .subtitle }}</span>
      </div>
      <div class="row">
        {{ range .item }}
        <div class="column card">
          <h3>{{ .title | markdownify }}</h3>
          <ul>
            <li>Date and Time: <b>{{ .dateandtime | markdownify }}</b></li>
            <li>Venue: <b>{{ .venue | markdownify }}</b></li>
            <li>Open to: <b>{{ .opento | markdownify }}</b></li>
          </ul>
        </div>
        {{ end }}
      </div>
    {{ end }}
    </div>
</div>
